.backButton{
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
  margin-right: 88%;
}

.my-float{
	margin-top:22px;
}

// responsive
// iphone
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
.backButton {
  margin-right: 53%;
}
}

//ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
.backButton {
  margin-right: 83%;
}
}

// ipad
@media only screen and (min-device-width: 767px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
.backButton {
  margin-right: '77%';
}
}
