.card-img {
  opacity: 0.5;
}

.castContainer h2 {
  margin-left: 15%;
  margin-top: 5%;
}

.moviePoster {
  border-radius: 12%;
  padding-top: 3%;
  width: 440px;
}

.movieCardRating {
  position: absolute;
  width: 200px;
  margin-left: 35%;
  margin-top: 30%;
}

.title {
  position: absolute;
  margin-left: 35%;
  margin-top: 5%;
  font-size: 50px;
}

.discription {
  font-size: 27px;
}

.tagline {
  font-size: 20px;
}

// responsive
// iphone
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .moviePoster {
    height: 180px;
    width: auto;
    border-radius: 12%;
  }
  .castContainer {
    padding-top: 80%;
  }
  .title {
    font-size: 20px;
    margin-left: 40%;
    margin-top: 10%;
  }

  .tagline {
    font-size: 10px;
  }

  .discription {
    font-size: 15px;
    margin-top: 50%;
  }

  .light-mode .discription {
    color: black;
  }

  .movieCardRating {
    width: 50px;
    margin-left: 40%;
    margin-top: 35%;
  }
}

// laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .moviePoster {
    height: 700px;
    width: auto;
    border-radius: 12%;
  }
  .title {
    font-size: 50px;
    margin-left: 40%;
  }
  .movieCardRating {
    width: 200px;
    margin-left: 37%;
    margin-top: 37%;
  }
}

// ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .moviePoster {
    height: 500px;
    width: auto;
    border-radius: 12%;
  }

  .movieCardRating {
    width: 100px;
    margin-left: 37%;
    margin-top: 40%;
  }
}

// ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
  .title {
    font-size: 30px;
  }
  .discription {
    font-size: 20px;
  }
  .tagline {
    font-size: 16px;
  }

  .movieCardRating {
    width: 70px;
    padding-top: 10%;
  }
  .moviePoster {
    height: 350px;
    width: auto;
  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
   .moviePoster {
     width: 100px;
   }
   .movieCardRating{
     width: 60px;
   }
   .title{
     font-size: 20px;
     margin-top: 7%;
   }
   .tagline{
     font-size: 13px;
   }
   .discription{
     font-size: 18px;
     margin-top: 50%;
   }
   .castContainer{
     margin-top: 85%;
   }
  }
